dev.code-workspace
*.exe
dsa/.vscode/c_cpp_properties.json
dsa/.vscode/launch.json
projects/red-tangle/redtangle-core/__pycache__/piece.cpython-311.pyc
projects/red-tangle/redtangle-core/__pycache__/constants.cpython-311.pyc
projects/red-tangle/redtangle-core/__pycache__/game.cpython-311.pyc
