[submodule "projects/redtangle-cpp/libs/imgui"]
	path = projects/redtangle-cpp/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "projects/redtangle-cpp/libs/SDL"]
	path = projects/redtangle-cpp/libs/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "projects/redtangle-cpp/libs/SDL_image"]
	path = projects/redtangle-cpp/libs/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
[submodule "projects/redtangle-cpp/libs/grpc"]
	path = projects/redtangle-cpp/libs/grpc
	url = https://github.com/grpc/grpc.git
	branch = v1.59.x
